.map1{
    -fx-background-image: url("img/Mapa1");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.map2{
    -fx-background-image: url("img/icon.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}
.endGame{
    -fx-background-image: url("img/PanzerStorm");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}